<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assistente Gamer</title>
  <link rel="stylesheet" href="../styles/styles.css">
  <script src="../scripts/index.js" defer></script>
</head>

<body class="background">

  <header>
    <img src="../assets/logo.png" alt="" id="logo">

  </header>

  <main>
    <section>
      <div>
        <h1>Assistência de Meta</h1>
        <p>Qual build você precisa para sua jogatina?</p>
        <form id="form">
          <input id="apiKey" type="password" placeholder="Digite a API-KEY do Gemini" required>
          <select id="gameSelect">
            <option value="">Escolha seu jogo</option>
            <option value="valorant">Valorant</option>
            <option value="clashRoyal">Clash Royal</option>
            <option value="lol">League of Legends</option>
            <option value="pokemontcg">Pokemon TCGP</option>
          </select>

          <input id="questionInput" type="text" placeholder="Ex: melhor deck de golem" required>
          <button id="askButton">PERGUNTAR</button>
        </form>
        <div id="aiReponse">
          <div class="response-content">

          </div>
        </div>
      </div>
    </section>
  </main>

</body>
</html>